.container {
  display: flex;
  flex-direction: column;
  width: 98%;
  margin-top: 50px;
  gap: 30px;

  .menu {
    width: 90%;
  }

  .work_area {
    display: grid;
    grid-template-rows: 50px 120px max-content;
    grid-template-columns: 250px auto auto auto;
    background-color: red;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    gap: 0px 20px;
    overflow-x: auto;

    .date_info {
      display: flex;
      width: 100%;
      flex-direction: row;
      padding: 10px;
      font-size: larger;
      grid-column-start: 1;
      grid-column-end: 4;
    }

    .info_container {
      display: grid;
      align-items: center;
      grid-template-columns: inherit;
      grid-column-start: 1;
      grid-column-end: 4;
      gap: 0px 50px;
    }

    .content {
      display: grid;
      grid-template-columns: inherit;
      grid-column-start: 1;
      grid-column-end: 4;
      width: 100%;
      gap: 0px 50px;
    }

    .col_1 {
      grid-column-start: 1;
      min-width: 100px;
    }

    .col_2 {
      grid-column-start: 2;
      max-width: 100%;
      overflow-x: auto;
      min-width: 200px;
    }

    .over_hidden {
      overflow: hidden;
    }

    .col_3 {
      grid-column-start: 3;
      min-width: 100px;
    }

    .col_4 {
      grid-column-start: 4;
      min-width: 100px;
    }

    .col_3,
    .col_4 {
      width: 100%;
      overflow-x: auto;
    }

    .grid {
      display: grid;
    }

    .two_rows {
      display: grid;
      grid-template-rows: repeat(2, 50px);
      align-items: center;
    }

    .row_1 {
      grid-row-start: 1;
    }

    .row_2 {
      grid-row-start: 2;
    }

    .row_3 {
      grid-row-start: 3;
    }

    .row_cells {
      display: flex;
      flex-direction: row;
    }
  }

  .total_row {
    margin: 30px 0px;
  }
}
