.container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  padding: 5px;
  height: min-content;
  background-color: white;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  z-index: 1;
}
