.cell {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0px;
}

.cell_for_name {
  display: flex;
  align-items: center;
  width: max-content;
  width: 150px;
  font-size: large;
}
